/* Design of this is probably shit */


div.profile-edit {
    width: 450px;

    /* This will go later when this is placed on top of the profile instead of beign a different file.
    background-color: var(--background_input);
    box-shadow: 0px 0px 5px rgba(0,0,0,.25);
    border: 1px solid var(--background_input_hover);
    */

    border-radius: 8px;
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.profile-edit form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div.profile-edit form div.profile-edit-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

div.profile-edit-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 8px;
    padding: 10px;
    background-color: var(--background_input);
    border: 1px solid var(--background_input_hover);
}

div.profile-edit form div:focus-within{
    border-color: var(--blue);
}

div.profile-edit form div input, textarea {
    border-radius: 0px!important;
    padding: 0px!important;
    background-color: transparent!important;
    border: none!important;

    outline: none;
}

div.profile-edit input[type="submit"] {
    margin: 15px auto 0px!important;
    padding: 5px 35px!important;
}

div.profile-edit h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}



/* First row: pfp editing */
div.profile-edit-user {
    background-color: transparent!important;
    border: none!important;
    padding: 0px!important;
}

div.profile-edit label.profile-edit-pfp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 10px;
    background-color: var(--background_input);
    border: 1px solid var(--background_input_hover);
    border-radius: 8px;

    transition: .1s;
}

div.profile-edit label.profile-edit-pfp:hover {
    background-color: var(--background_input_hover);
}

div.profile-edit input[type='file'] {
    display: none;
}

div.profile-edit div.profile-edit-user i {
    color: var(--label);
}

div.profile-edit label{
    color: white;
    cursor: pointer;
}