@media (max-width: 905px) {
    header.inner-header {
        width: 100%!important;
        justify-content: space-between;
        padding: 0px 12px!important;
        position: static!important;
    }

    header.inner-header h3.header-signature {
        position: static!important;
        transform: none;
    }

    header.inner-header ul.header-menu {
        position: static!important;
        transform: none;
    }
    
    header.inner-header ul.header-account {
        position: static!important;
        
    }

    section.build {
        width: 100%!important;
        padding: 12px!important;
    }

}

@media (max-width: 867px) {
    .profile-user_info-data-sr {
        gap: 3px!important; /* Well this tries to predict when a biography of 240 chars goes up to 3 rows of space */
    }
}

@media (max-width: 680px) {
    .profile-user_info-data-sr {
        gap: 5px!important;
    }
    header.inner-header ul.header-menu {
        display: none;
    }
    .profile-data-desktop {
        display: none!important;
    }
    .profile-user_desc {
        display: block!important;
        padding-top: 20px!important;
    }
    .profile-user_sections ul {
        grid-template-columns: 1fr 1fr 1fr!important;
    }
    footer {
        font-size: 9px!important;
    }
}

@media (max-width: 500px) {
    #header-res {
        display: none;
    }
    .profile-user_sections ul {
        grid-template-columns: 1fr 1fr!important;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .profile-user_info-data-sr ul{
        flex-direction: column!important;
    }
    .profile-user_info-data-sr ul.profile-user_info-data-sr-links{
        flex-direction: row!important;
        flex-wrap: wrap;
    }
    .li-separator_dot {
        display: none;
    }
    #profile_edit {
        font-size: 12px!important;
    }
}

@media (max-width: 440px) {
    .profile-edit {
        width: 100%!important;
    }
}

@media (max-width: 340px) {
    .login-register {
        width: 100%!important;
    }  
}

@media (max-width: 300px) {
    #profile_edit {
        font-size: 10px!important;
        padding: 3px 8px;
    }
}