@media (max-width: 905px) {
    header.inner-header {
        width: 100%!important;
        justify-content: space-between;
        padding: 0px 12px!important;
        position: static!important;
    }

    header.inner-header h3.header-signature {
        position: static!important;
        transform: none;
    }

    header.inner-header ul.header-menu {
        position: static!important;
        transform: none;
    }
    
    header.inner-header ul.header-account {
        position: static!important;
        
    }

    section.build {
        width: 100%!important;
        padding: 12px!important;
    }

}

@media (max-width: 680px) {
    header.inner-header ul.header-menu {
        display: none;
    }
    .profile-data-desktop {
        display: none!important;
    }
    .profile-user_desc {
        display: block!important;
    }
    .profile-user_sections ul {
        grid-template-columns: 1fr 1fr 1fr!important;
    }
    footer {
        font-size: 9px!important;
    }
}

@media (max-width: 500px) {
    #header-res {
        display: none;
    }
    .profile-user_sections ul {
        grid-template-columns: 1fr 1fr!important;
        font-size: 12px;
    }
}